html,
body {
  height: 100%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  background-color: #516dff;
  color: #fff;
}

h1 {
  font-size: 55px;
  line-height: 68px;
  margin-bottom: 40px;
}

h3 {
  font-size: 25px;
}
